<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <div>
            <h1>{{todo_detail.name}}</h1>
            <h2>Task</h2>
            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tbody>
                        {% for item in todolist.items.all %}
                            <tr>
                                <td>
                                    <a href="{% url 'todo_list_detail' item.id %}">{{ item.task }}</a>
                                </td>
                                <td>{{ item.due_date|date:"M d, Y" }}</td>
                            </tr>
                        {% endfor %}             
                </tbody>
            </table>
        </div>

</body>
</html>